$primary-color: #3498db;
$secondary-color: #2ecc71;
$background-color: #f1f1f1;
$card-background-color: white;
$card-border-radius: 12px;
$card-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$color-button-principal: #7367ef;
$color-button-secundary: #e7e5fb;

$color-title-text: #504e5b;
$color-paragraph-text: #98959f;


$gray-background-color: #eaebed;
$gray-font-color: #9fa2ac;

$red-background-color: #ffe2e4;
$red-font-color: #fe7b7e;

$blue-background-color: #d5f2f6;
$blue-font-color: #49cddd;

$yellow-background-color: #ffefdf;
$yellow-font-color: #feb169;

$purple-background-color: #e8e6fc;
$purple-font-color: #8278f0;

$green-background-color: #dbf6e7;
$green-font-color: #61d595;